@font-face { 
  font-family: Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face { 
  font-family: Regular;
  src: url(fonts/Montserrat-Regular.ttf);
} 

body {
  background-color: #E5E5E5;
  padding-top: 20px;
}
main {
  width: 1200px;
  height: 1320px;
  margin:  0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
section {
  height: 1320px;
  float: left;
  padding: 90px 90px;
}
aside {
  width: 370px;
  height: 1320px;
  background-color: #1E2939;
  float: left;
}
img {
  width: 370px;
  margin-top: 40px;
}
.title {
  color: #fff;
  font-family: Bold;
  font-size: 24px;
  line-height: 0.5;
}
.tech {
  font-size: 22px;
}
.contact {
  margin: 50px 30px;
}
.contact a {
  color: #fff;
  font-size: 14px;
  line-height: 0.5;
  font-family: Regular;
}
li {
  color: #FB6D3A;
  font-size: 14px;
  font-family: Regular;
}
ul {
  list-style-position: inside;
  margin-left: -40px
}
.contact span {
  color: #fff;
  font-family: Bold;
  font-size: 14px;
  margin-right: 10px;
}
.li {
  font-family: Regular;
}
p a {
  color: #00f;
}
ol {
  margin-left: -20px;
  margin-top: -15px;
}
ol li {
  color: black;
  font-family: Bold;
  font-size: 14px;
}
a, .works li, p {
  color: #595959;
  font-size: 14px;
  font-family: Regular;
  text-decoration-line: none;
  line-height: 24px;
}
li a {
  margin-left: 10px;
}

.about {
  width: 400px;
  height: 230px;
}
.about__front {
  font-family: Bold;
  font-size: 14px;
  margin-top: -5px;
}
h1 {
  font-family: Bold;
  font-size: 45px;
  margin-top: 20px;
}
p {
  margin-top: -15px;
}
h3 {
  font-family: Bold;
  font-size: 22px;
}
h4 {
  font-family: Bold;
  font-size: 16px;
}
h4 span {
 color: #FB6D3A;
}
h5 {
  color: #A8A8A8;
  font-size: 12px;
  font-family: Regular;
}
h5 span{
  color: #000;
}
li  span {
  color: #A8A8A8;
  font-size: 14px;
  font-family: Regular;
}
.projects {
  width: 485px;
  height: 110px;
}
.works {
  width: 530px;
  margin-top: 40px;
}
.works__front {
  height: 215px;
  margin-bottom: 45px;
}
.works__STB h4 {
  margin-top: -5px;
  margin-bottom: -5px;
}
.works__list {
  margin-top: -5px;
}
.works__gravis {
  height: 125px;
}
.works__gravis h4 {
  margin-top: -5px;
}
.works__gravis h5 {
  margin-top: -5px;
}
.education__spec {
  font-family: Bold;
  font-size: 14px;
  color:#000;
}
.works h3 {
  margin-bottom: -5px;
}
.education h3 {
  margin-bottom: -10px;
}
.education h4 {
  margin-bottom: -15px;
}
.education h5 {
  margin-bottom: -10px;
}